body{

  font-family: 'Source Sans Pro', sans-serif;
  background: #f1e767;
  background: -webkit-linear-gradient(#f1e767 0%, #fcbc5d 100%);
  background: -o-linear-gradient(#f1e767 0%, #fcbc5d 100%);
  background: linear-gradient(#f1e767 0%, #fcbc5d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#fcbc5d',GradientType=0 );
  color:white;

}

#container{
width:80%;
  
}

#main{
  
  width: 38%;
  min-width: 350px;
  padding:20px 0px;
  text-align:center;
  border-radius:10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width:550px;
  transform: translate(-50%, -50%); 
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1);
  border:1px dotted rgba(255, 87, 34, 0.39);
  
}

#geoLocation{

  font-family: 'Source Sans Pro', sans-serif;
  font-size:3em;
}

#data{

  position:relative;
  vertical-align:middle;
  width:100%;
  height:100%;
}

#icon{
  vertical-align: top;
  display:inline-block;
  padding-top:30px;
  width:28%;
  height:60%;
  
}
#temp{
  position:relative;
  padding:15px 10px 15px 0px;
  vertical-align:top;
  display:inline-block;
  width:28%;
  height:60%;
  font-size:80px;
  
}
.celcius{


font-size:30px;
position:absolute;
right:10px;
top:15px;

}
#hum{
  padding-top:10px;
  width:100%;
  height:50%;
  
}




.wi{
 
  font-size:80px;
}



#description{
  padding-top:0px;
  margin:0 auto;
  width:80%;
  height:20%;
  //background:white;
  font-size:30px;
}
